# Build directories
/build/
/build_vs2022/
/out/

# Visual Studio and CMake files
*.vcxproj*
*.sln
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.opendb
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE files
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# Executables / libraries / symbols
*.exe
*.dll
*.lib
*.pdb
*.so
*.dylib

# Object / compiled files
*.obj
*.o
*.a

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Project-specific files
imgui.ini
MusicLe_Downloads/
tmp_test.cpp
